<form action='/links' method='post' >
  <h1>Add you links here</h1>
  <label for="url">Address:
    <input type='text'  name='url' />
  </label>
  <label for="title">Title:
    <input type='text'  name='title' />
  </label>
  <label for="tags">Tag:
    <input type='text' name='tags' />
  </label>
    <input type='submit' class='button' value='Add link' >
