<h1>Adding a new link</h1>

<form action= '/links' method= 'POST'>
  <label for="title">
    URL Title
    <input type="text" name="title">
  </label>
  <label for="url">
    URL address
    <input type="text" name="url">
  </label>
  <label for="tags">
    URL tag
    <input type="text" name="tags">
  </label>
  <input type="submit" value="Save link">
</form>
