<form action='/user' method='post' >
  <h1>Enter your info here:</h1>
  <label for="first_name">Firstname:
    <input name='first_name' type='text' value='<%= @user.first_name %>'>
  </label>
  <label for="surname">Surname:
    <input name='surname' type='text' value='<%= @user.surname %>'>
  </label>
  <label for="email">Email:
    <input name='email' type='email' value='<%= @user.email %>' required>
  </label>
  <label for="password">Password:
    <input type='password' name='password' />
  </label>
  <label for='password_confirmation'>
   Password: <input name='password_confirmation' type='password'>
 </label>
    <input type='submit' class='button' value='Add user' >
