<form action='/user' method='post' >
  <h1>Enter your info here:</h1>
  <label for="first_name">Firstname:
    <input type='text'  name='first_name' />
  </label>
  <label for="surname">Surname:
    <input type='text'  name='surname' />
  </label>
  <label for="email">Email:
    <input type='text' name='email' />
  </label>
  <label for="password">Password:
    <input type='password' name='password' />
  </label>
  <label for='password_confirmation'>
   Password: <input name='password_confirmation' type='password'>
 </label>
    <input type='submit' class='button' value='Add user' >
